<!DOCTYPE html>
<html>
<head>
    <title>Which Breakfast Cereal Mascot Are You?</title>
    <link rel="stylesheet" href="..\static\styles\form_style.css">
</head>
<body>
    <h1>Which Breakfast Cereal Mascot Are You?</h1>
    <form action="" method="GET">
        <input type="hidden" name="quiz" value="5">
        <p class="question">Pick a smell that best describes your personality:</p>
        <p><input type="radio" name="smell" value="cookies">Freshly baked cookies</p>
        <p><input type="radio" name="smell" value="cardboard">Wet cardboard</p>
        <p><input type="radio" name="smell" value="car">New car smel</p>
        <p><input type="radio" name="smell" value="chickens">A bouquet of rubber chickens</p>
        <input type="submit" value="Next">
    </form>
    <script src="..\static\scripts\quiz_script.js"></script>
</body>
</html>
