<!DOCTYPE html>
<html>
<head>
    <title>Which Breakfast Cereal Mascot Are You?</title>
    <link rel="stylesheet" href="..\static\styles\form_style.css">
</head>
<body>
    <h1>Which Breakfast Cereal Mascot Are You?</h1>
    <form action="" method="GET">
        <input type="hidden" name="quiz" value="4">
        <p class="question">What's your spirit animal?</p>
        <p><input type="radio" name="spirit" value="narwhal">A narwhal with a monocle</p>
        <p><input type="radio" name="spirit" value="sloth">A sloth on roller skates</p>
        <p><input type="radio" name="spirit" value="flamingo">A flamingo in a tuxedo</p>
        <p><input type="radio" name="spirit" value="penguin">A penguin that moonwalks</p>
        <input type="submit" value="Next">
    </form>
    <script src="..\static\scripts\quiz_script.js"></script>
</body>
</html>
