<!DOCTYPE html>
<html>
<head>
    <title>Which Breakfast Cereal Mascot Are You?</title>
    <link rel="stylesheet" href="..\static\styles\form_style.css">
</head>
<body>
    <h1>Which Breakfast Cereal Mascot Are You?</h1>
    <form action="" method="GET">
        <input type="hidden" name="quiz" value="3">
        <p class="question">Choose a superpower you'd like to have:</p>
        <p><input type="radio" name="superpower" value="invisible">The ability to turn invisible, but only when no one is looking</p>
        <p><input type="radio" name="superpower" value="squirrel_communication">The power to communicate with squirrels, exclusively</p>
        <p><input type="radio" name="superpower" value="bubble_wrap">The power to summon an endless supply of bubble wrap</p>
        <p><input type="radio" name="superpower" value="glitter">The ability to turn everything you touch into glitter</p>
        <input type="submit" value="Next">
    </form>
    <script src="..\static\scripts\quiz_script.js"></script>
</body>
</html>
