<!DOCTYPE html>
<html>
<head>
    <title>Which Breakfast Cereal Mascot Are You?</title>
    <link rel="stylesheet" href="..\static\styles\form_style.css">
</head>
<body>
    <h1>Which Breakfast Cereal Mascot Are You?</h1>
    <form action="" method="GET">
        <input type="hidden" name="quiz" value="6">
        <p class="question">What's your go-to dance move?</p>
        <p><input type="radio" name="dance" value="chicken">The funky chicken</p>
        <p><input type="radio" name="dance" value="robot">The robot with a limp</p>
        <p><input type="radio" name="dance" value="sprinkler">The sprinkler, but with exaggerated enthusiasm</p>
        <p><input type="radio" name="dance" value="duck"> The interpretive dance of a duck chasing a girl to bite her toes</p>
        <input type="submit" value="Next">
    </form>
    <script src="..\static\scripts\quiz_script.js"></script>
</body>
</html>
