<!DOCTYPE html>
<html>
<head>
    <title>Which Breakfast Cereal Mascot Are You?</title>
    <link rel="stylesheet" href="..\static\styles\form_style.css">
</head>
<body>
    <h1>Which Breakfast Cereal Mascot Are You?</h1>
    <form action="" method="GET">
        <input type="hidden" name="quiz" value="7">
        <p class="question">What's your preferred mode of transportation?</p>
        <p><input type="radio" name="transport" value="unicycle">Unicycle with a rainbow-colored saddle</p>
        <p><input type="radio" name="transport" value="hoverboard">Hoverboard that occasionally malfunctions</p>
        <p><input type="radio" name="transport" value="hampster ball">A giant inflatable hamster ball</p>
        <p><input type="radio" name="transport" value="rollerblades">Rocket powered rollerblades</p>
        <input type="submit" value="Next">
    </form>
    <script src="..\static\scripts\quiz_script.js"></script>
</body>
</html>
