<!DOCTYPE html>
<html>
<head>
    <title>Which Breakfast Cereal Mascot Are You?</title>
    <link rel="stylesheet" href="..\static\styles\form_style.css">
</head>
<body>
    <h1>Which Breakfast Cereal Mascot Are You?</h1>
    <form action="" method="GET">
        <input type="hidden" name="quiz" value="2">
        <p class="question">If you were a utensil, which one would you be?</p>
        <p><input type="radio" name="utensil" value="spork">Spork</p>
        <p><input type="radio" name="utensil" value="grapefruit_spoon">Grapefruit spoon</p>
        <p><input type="radio" name="utensil" value="butter_knife">Butter knife</p>
        <p><input type="radio" name="utensil" value="salad_tongs">Salad tongs</p>
        <input type="submit" value="Next">
    </form>
    <script src="..\static\scripts\quiz_script.js"></script>
</body>
</html>
